.main {
  width: 100%;
  min-height: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
